version: "3.9"

services:
  backend:
    build: ./backend
    container_name: tastebuddin-backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: tastebuddin-frontend
    ports:
      - "3000:80"        # host:container
    restart: always
