body {
    font-family: Arial, sans-serif;
    background: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88b6e7;
}

#container {
    position: relative;
    margin-top: 50px;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 { /* TASTEBUDDIN */
  text-align: center;
  color: #64e397;
  font-weight: 300;
  font-size: 200% auto;
  margin: 40px;
  font-weight: 700;
  flex-direction: row;
}
