body {
    background: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88b6e7;
}

* {
    font-family: 'Montserrat', sans-serif;
}
#container {
    position: relative;
    margin: 50px auto;
    max-width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 { /* TASTEBUDDIN */
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
.recipe-viewport {
    width: 90%;
    max-width: 1000px;
    margin: 20px;
    background-color: white;
    border-radius: 22px;
    padding: 22px;
    box-shadow: 0 10px 28px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.recipe-viewport p li {
    margin-top: 8px;
    font-size: 17px;
    color: #444;
    text-align: left;
}
