body {
    font-family: Arial, sans-serif;
    background: #88b6e7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 { /* TASTEBUDDIN */
  text-align: center;
  color: #64e397;
  font-weight: 300;
  font-size: 200% auto;
  margin: 40px;
  font-weight: 700;
  flex-direction: row;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #88b6e7;
  display: flex;
}

ul li a {
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}